{% extends 'base.html' %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>{{mascota.nombre}}</h1>

                {{error}}

                {% csrf_token %}
                {{form.as_p}}
                <div class="d-flex mt-5">
                    <form method="POST">
                        
                        <button class="btn btn-outline-warning bi bi-pencil-square">
                            Actualizar
                        </button>
                    </form>
                    <br>  
                    
                    <form action="{% url 'delete_mascota' mascota.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger bi bi-trash3-fill">
                            Eliminar
                        </button>
                    </form>
                </div> 
            </div>
        </div>
    </main> 

{% endblock %}